<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Model Prediction Result</title>
</head>
<body>
<div class="center-container" style="max-width: 300px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="color: #007bff; text-align: center; ">Prediction Result</h2>
    <p>The result: </p><p style="color: hsl(197, 100%, 50%); margin-bottom: 10px;"><b>{{result}}</b></p>
    <p>The probability: </p><p style="color: hsl(197, 100%, 50%); margin-bottom: 10px;"><b>{{probability}}</b></p>
    <br>
    <a href="/">Go back to home</a>
</div>
</body>
</html>